[submodule "Cisco"]
	path = Cisco
	url = git@github.com:freebook/Cisco.git
[submodule "H3C"]
	path = H3C
	url = git@github.com:freebook/H3C.git
[submodule "common"]
	path = common
	url = git@github.com:freebook/common.git
[submodule "docbook-xsl"]
	path = docbook-xsl
	url = git@github.com:freebook/docbook-xsl.git
